
# Compiled class file
# Eclipse
# IntelliJ IDEA
# Log file
# Maven
# NetBeans
# OS specific files
# Package Files
# Temporary files
# VS Code
# virtual machine crash logs
*.class
*.ear
*.iml
*.ipr
*.iws
*.jar
*.log
*.nar
*.rar
*.tar.gz
*.war
*.zip
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.classpath
.env
.factorypath
.idea/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.output.txt
.project
.settings/
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
Thumbs.db
build/
buildNumber.properties
dependency-reduced-pom.xml
ehthumbs.db
hs_err_pid*
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
replay_pid*
target/
/docs/
